// .bablerc


{
    "presets": ["react", "env"],
    "env": {
      "development": {
        "presets": ["react-hmre"]
      },
      "production": {
        "presets": ["react", "env"]
      }
    }
  }